body {
	background-image: url("../imagens/fundo.png");
	padding: 10px 10px 10px 10px;
	margin: 2% 30% 10% 30%;
}
h1, h2{
	color: limegreen;
}

blockquote{
	font-style: italic
}
p{
	text-align: justify;
}
table {
  border-collapse: collapse;
}